/*
*/

pre {
        /* padding: 10px 15px;
        margin: 5px 0 15px;
        border-left: 5px solid #666666;
        background: #222222; */
        font: 0.5em/1.5 "Courier News", monospace;
        color: green;
        /* overflow : auto; */
}
