body
	{width:534px;
	height:400px;}
.TB
	{mso-special-format:nobullet\2022;}
.T
	{text-align:left;
	font-family:Arial;
	text-shadow:auto;
	color:#FFCC66;
	mso-color-index:3;
	font-size:209%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:bulletl;
	color:#FFCC66;
	mso-color-index:3;
	font-family:Wingdings;
	font-size:75%;}
.B
	{text-align:left;
	font-family:"Times New Roman";
	color:white;
	mso-color-index:1;
	font-size:152%;
	mso-line-spacing:"90 20 0";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1B
	{mso-special-format:bullet\2013;
	color:white;
	mso-color-index:1;}
.B1
	{text-align:left;
	font-family:"Times New Roman";
	color:white;
	mso-color-index:1;
	font-size:133%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2B
	{mso-special-format:bulletl;
	color:#00CCFF;
	font-family:Wingdings;
	font-size:65%;}
.B2
	{text-align:left;
	font-family:"Times New Roman";
	color:white;
	mso-color-index:1;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3B
	{mso-special-format:bullet\2013;
	color:white;
	mso-color-index:1;}
.B3
	{text-align:left;
	font-family:"Times New Roman";
	color:white;
	mso-color-index:1;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4B
	{mso-special-format:bullet\2022;
	color:#00CCFF;
	mso-color-index:4;}
.B4
	{text-align:left;
	font-family:"Times New Roman";
	color:white;
	mso-color-index:1;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.NB
	{mso-special-format:nobullet\2022;}
.N
	{text-align:left;
	font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N1B
	{mso-special-format:nobullet\2022;}
.N1
	{text-align:left;
	font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N2B
	{mso-special-format:nobullet\2022;}
.N2
	{text-align:left;
	font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N3B
	{mso-special-format:nobullet\2022;}
.N3
	{text-align:left;
	font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N4N
	{mso-special-format:nobullet\2022;}
.N4
	{text-align:left;
	font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.OB
	{mso-special-format:nobullet\2022;}
.O
	{text-align:left;
	font-family:"Times New Roman";
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1B
	{mso-special-format:nobullet\2022;}
.O1
	{text-align:left;
	font-family:"Times New Roman";
	layout-flow:vertical;
	color:white;
	mso-color-index:1;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2B
	{mso-special-format:nobullet\2022;}
.O2
	{font-family:"Times New Roman";
	layout-flow:vertical;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3B
	{mso-special-format:nobullet\2022;}
.O3
	{font-family:"Times New Roman";
	layout-flow:vertical;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4B
	{mso-special-format:nobullet\2022;}
.O4
	{font-family:"Times New Roman";
	layout-flow:vertical;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CBB
	{mso-special-format:nobulletl;
	color:#FFCC66;
	mso-color-index:3;
	font-family:Wingdings;
	font-size:75%;}
.CB
	{text-align:left;
	font-family:"Times New Roman";
	color:white;
	mso-color-index:1;
	font-size:152%;
	mso-line-spacing:"70 20 0";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1B
	{mso-special-format:nobullet\2013;
	color:white;
	mso-color-index:1;}
.CB1
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2B
	{mso-special-format:nobulletl;
	color:#00CCFF;
	font-family:Wingdings;
	font-size:65%;}
.CB2
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3B
	{mso-special-format:nobullet\2013;
	color:white;
	mso-color-index:1;}
.CB3
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4B
	{mso-special-format:nobullet\2022;
	color:#00CCFF;
	mso-color-index:4;}
.CB4
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CTB
	{mso-special-format:nobullet\2022;}
.CT
	{text-align:left;
	font-family:Arial;
	text-shadow:auto;
	color:#FFCC66;
	mso-color-index:3;
	font-size:209%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HBB
	{mso-special-format:bulletl;
	color:#FFCC66;
	mso-color-index:3;
	font-family:Wingdings;
	font-size:75%;}
.HB
	{font-family:"Times New Roman";
	mso-line-spacing:"90 20 0";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1B
	{mso-special-format:bullet\2013;
	color:white;
	mso-color-index:1;}
.HB1
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2B
	{mso-special-format:bulletl;
	color:#00CCFF;
	font-family:Wingdings;
	font-size:65%;}
.HB2
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3B
	{mso-special-format:bullet\2013;
	color:white;
	mso-color-index:1;}
.HB3
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4B
	{mso-special-format:bullet\2022;
	color:#00CCFF;
	mso-color-index:4;}
.HB4
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QBB
	{mso-special-format:bulletl;
	color:#FFCC66;
	mso-color-index:3;
	font-family:Wingdings;
	font-size:75%;}
.QB
	{font-family:"Times New Roman";
	mso-line-spacing:"90 20 0";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1B
	{mso-special-format:bullet\2013;
	color:white;
	mso-color-index:1;}
.QB1
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2B
	{mso-special-format:bulletl;
	color:#00CCFF;
	font-family:Wingdings;
	font-size:65%;}
.QB2
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3B
	{mso-special-format:bullet\2013;
	color:white;
	mso-color-index:1;}
.QB3
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4B
	{mso-special-format:bullet\2022;
	color:#00CCFF;
	mso-color-index:4;}
.QB4
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.TblB
	{mso-special-format:nobulletl;
	color:#FFCC66;
	mso-color-index:3;
	font-family:Wingdings;
	font-size:75%;}
.Tbl
	{font-family:"Times New Roman";
	mso-line-spacing:"90 20 0";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl1B
	{mso-special-format:nobullet\2013;
	color:white;
	mso-color-index:1;}
.Tbl1
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl2B
	{mso-special-format:nobulletl;
	color:#00CCFF;
	font-family:Wingdings;
	font-size:65%;}
.Tbl2
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl3B
	{mso-special-format:nobullet\2013;
	color:white;
	mso-color-index:1;}
.Tbl3
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl4B
	{mso-special-format:nobullet\2022;
	color:#00CCFF;
	mso-color-index:4;}
.Tbl4
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet\2022;}
.default
	{text-align:left;
	font-family:"Times New Roman";
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:white;
	mso-color-index:1;
	font-size:114%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-GB;}
a:link
	{color:#FF0033 !important;}
a:active
	{color:yellow !important;}
a:visited
	{color:#3366FF !important;}
