body
	{width:534px;
	height:400px;}
.TB
	{mso-special-format:nobullet\E011;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.T
	{text-align:center;
	font-family:Arial;
	font-weight:bold;
	color:white;
	mso-color-index:0;
	font-size:139%;
	mso-line-spacing:"104 0 0";
	mso-char-wrap:1;}
.BB
	{mso-special-format:bullet\25CF;
	color:#0E594D;
	font-family:StarSymbol;
	font-size:45%;}
.B
	{text-align:left;
	font-family:Arial;
	color:black;
	font-size:139%;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:272;
	mso-text-indent-alt:68;
	mso-char-wrap:1;}
.B1B
	{mso-special-format:bullet–;
	color:black;
	font-family:StarSymbol;
	font-size:75%;}
.B1
	{text-align:left;
	font-family:Arial;
	color:black;
	font-size:121%;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:544;
	mso-text-indent-alt:363;
	mso-char-wrap:1;}
.B2B
	{mso-special-format:bullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.B2
	{text-align:left;
	font-family:Arial;
	color:black;
	font-size:104%;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:816;
	mso-text-indent-alt:680;
	mso-char-wrap:1;}
.B3B
	{mso-special-format:bullet–;
	color:black;
	font-family:StarSymbol;
	font-size:75%;}
.B3
	{text-align:left;
	font-family:Arial;
	color:black;
	font-size:86%;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:1088;
	mso-text-indent-alt:952;
	mso-char-wrap:1;}
.B4B
	{mso-special-format:bullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.B4
	{text-align:left;
	font-family:Arial;
	color:black;
	font-size:86%;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:1360;
	mso-text-indent-alt:1224;
	mso-char-wrap:1;}
.NB
	{mso-special-format:nobullet•;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.N
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	font-size:52%;}
.N1B
	{mso-special-format:nobullet–;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.N1
	{font-family:"Times New Roman";
	color:black;
	mso-margin-left-alt:468;}
.N2B
	{mso-special-format:nobullet•;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.N2
	{font-family:"Times New Roman";
	color:black;
	mso-margin-left-alt:720;}
.N3B
	{mso-special-format:nobullet–;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.N3
	{font-family:"Times New Roman";
	color:black;
	mso-margin-left-alt:1008;}
.N4N
	{mso-special-format:nobullet»;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.N4
	{font-family:"Times New Roman";
	color:black;
	mso-margin-left-alt:1296;}
.OB
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.O
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	font-size:104%;
	mso-line-spacing:"102 0 0";
	mso-char-wrap:1;}
.O1B
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.O1
	{font-family:"Times New Roman";
	color:black;
	font-size:104%;
	mso-line-spacing:"102 0 0";
	mso-margin-left-alt:272;
	mso-text-indent-alt:136;
	mso-char-wrap:1;}
.O2B
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.O2
	{font-family:"Times New Roman";
	color:black;
	font-size:104%;
	mso-line-spacing:"102 0 0";
	mso-margin-left-alt:408;
	mso-text-indent-alt:272;
	mso-char-wrap:1;}
.O3B
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.O3
	{font-family:"Times New Roman";
	color:black;
	font-size:104%;
	mso-line-spacing:"102 0 0";
	mso-margin-left-alt:544;
	mso-text-indent-alt:408;
	mso-char-wrap:1;}
.O4B
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.O4
	{font-family:"Times New Roman";
	color:black;
	font-size:104%;
	mso-line-spacing:"102 0 0";
	mso-margin-left-alt:680;
	mso-text-indent-alt:544;
	mso-char-wrap:1;}
.CBB
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.CB
	{color:black;
	mso-line-spacing:"104 0 0";
	mso-char-wrap:1;}
.CB1B
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.CB1
	{text-align:center;
	font-family:Arial;
	color:black;
	font-size:139%;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:136;
	mso-text-indent-alt:136;
	mso-char-wrap:1;}
.CB2B
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.CB2
	{color:black;
	font-size:139%;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:272;
	mso-text-indent-alt:272;
	mso-char-wrap:1;}
.CB3B
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.CB3
	{color:black;
	font-size:139%;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:408;
	mso-text-indent-alt:408;
	mso-char-wrap:1;}
.CB4B
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.CB4
	{color:black;
	font-size:139%;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:544;
	mso-text-indent-alt:544;
	mso-char-wrap:1;}
.CTB
	{mso-special-format:nobullet\E011;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.CT
	{text-align:center;
	font-family:Arial;
	font-weight:bold;
	color:white;
	mso-color-index:0;
	font-size:139%;
	mso-line-spacing:"104 0 0";
	mso-char-wrap:1;}
.HBB
	{mso-special-format:bullet•;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.HB
	{font-family:"Times New Roman";
	color:black;
	font-size:139%;
	mso-char-wrap:1;}
.HB1B
	{mso-special-format:bullet–;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.HB1
	{font-family:"Times New Roman";
	color:black;
	font-size:121%;
	mso-char-wrap:1;}
.HB2B
	{mso-special-format:bullet•;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.HB2
	{font-family:"Times New Roman";
	color:black;
	font-size:104%;
	mso-char-wrap:1;}
.HB3B
	{mso-special-format:bullet–;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.HB3
	{font-family:"Times New Roman";
	color:black;
	font-size:86%;
	mso-char-wrap:1;}
.HB4B
	{mso-special-format:bullet»;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.HB4
	{font-family:"Times New Roman";
	color:black;
	font-size:86%;
	mso-char-wrap:1;}
.QBB
	{mso-special-format:bullet•;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.QB
	{font-family:"Times New Roman";
	color:black;
	font-size:139%;
	mso-char-wrap:1;}
.QB1B
	{mso-special-format:bullet–;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.QB1
	{font-family:"Times New Roman";
	color:black;
	font-size:121%;
	mso-char-wrap:1;}
.QB2B
	{mso-special-format:bullet•;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.QB2
	{font-family:"Times New Roman";
	color:black;
	font-size:104%;
	mso-char-wrap:1;}
.QB3B
	{mso-special-format:bullet–;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.QB3
	{font-family:"Times New Roman";
	color:black;
	font-size:86%;
	mso-char-wrap:1;}
.QB4B
	{mso-special-format:bullet»;
	color:black;
	font-family:"Times New Roman";
	font-size:100%;}
.QB4
	{font-family:"Times New Roman";
	color:black;
	font-size:86%;
	mso-char-wrap:1;}
.TblB
	{mso-special-format:nobullet\25CF;
	color:#0E594D;
	font-family:StarSymbol;
	font-size:45%;}
.Tbl
	{color:black;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:272;
	mso-text-indent-alt:68;
	mso-char-wrap:1;}
.Tbl1B
	{mso-special-format:nobullet–;
	color:black;
	font-family:StarSymbol;
	font-size:75%;}
.Tbl1
	{color:black;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:544;
	mso-text-indent-alt:363;
	mso-char-wrap:1;}
.Tbl2B
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.Tbl2
	{color:black;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:816;
	mso-text-indent-alt:680;
	mso-char-wrap:1;}
.Tbl3B
	{mso-special-format:nobullet–;
	color:black;
	font-family:StarSymbol;
	font-size:75%;}
.Tbl3
	{color:black;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:1088;
	mso-text-indent-alt:952;
	mso-char-wrap:1;}
.Tbl4B
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.Tbl4
	{color:black;
	mso-line-spacing:"104 0 0";
	mso-margin-left-alt:1360;
	mso-text-indent-alt:1224;
	mso-char-wrap:1;}
.defaultB
	{mso-special-format:nobullet\25CF;
	color:black;
	font-family:StarSymbol;
	font-size:45%;}
.default
	{text-align:left;
	font-family:"Times New Roman";
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	font-size:104%;
	mso-text-raise:0%;
	mso-line-spacing:"102 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:0;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-GB;}
a:link
	{color:blue !important;}
a:active
	{color:#3333CC !important;}
a:visited
	{color:#B2B2B2 !important;}
